<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/jquery.scrollbar.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/css/app.min.css">

    @RenderSection("Styles", false)
</head>

<body data-sa-theme="1">
    <main class="main">

        @await Html.PartialAsync("_Header") 

        @await Html.PartialAsync("_NavMenu") 

        <section class="content">
            <div class="content__inner">
                <header class="content__title">
                    <h1>تست</h1>

                    <div class="actions">
                        <a href="default.htm" class="actions__item zmdi zmdi-trending-up"></a>
                        <a href="default.htm" class="actions__item zmdi zmdi-check-all"></a>

                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="default.htm" class="dropdown-item">تازه سازی</a>
                                <a href="default.htm" class="dropdown-item">مدیریت ویجت ها</a>
                                <a href="default.htm" class="dropdown-item">تنظیمات</a>
                            </div>
                        </div>
                    </div>
                </header>

                @RenderBody() 

            </div>
        </section>
    </main>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/jquery-scrollLock.min.js"></script>

    <!-- App functions and actions -->
    <script src="/js/app.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>