<aside class="sidebar">
    <div class="scrollbar-inner">

        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" src="demo/img/profile-pics/8.jpg" alt="">
                <div>
                    <div class="user__name">رضا حسینی</div>
                    <div class="user__email">malinda-h@gmail.com</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="default.htm">مشاهده پروفایل</a>
                <a class="dropdown-item" href="default.htm">تنظیمات</a>
                <a class="dropdown-item" href="default.htm">خروج</a>
            </div>
        </div>

        <ul class="navigation">
            <li class="@@indexactive"><a href="index.html"><i class="zmdi zmdi-home"></i> خانه</a></li>

            <li class="navigation__sub @@variantsactive">
                <a href="default.htm"><i class="zmdi zmdi-view-week"></i> لی اوت های مختلف</a>

                <ul>
                    <li class="@@sidebaractive"><a href="hidden-sidebar.html">سایدبار مخفی</a></li>
                    <li class="@@boxedactive"><a href="boxed-layout.html">لی اوت باکس</a></li>
                    <li class="@@hiddensidebarboxedactive"><a href="hidden-sidebar-boxed-layout.html">لی اوت باکس  با سایدبار مخفی</a></li>
                </ul>
            </li>

            <li class="@@typeactive"><a href="typography.html"><i class="zmdi zmdi-format-underlined"></i> تایپوگرافی</a></li>

            <li class="@@widgetactive"><a href="widgets.html"><i class="zmdi zmdi-widgets"></i> ویجت ها</a></li>

            <li class="navigation__sub @@tableactive">
                <a href="default.htm"><i class="zmdi zmdi-view-list"></i> جداول</a>

                <ul>
                    <li class="@@normaltableactive"><a href="html-table.html">HTML Table</a></li>
                    <li class="@@datatableactive"><a href="data-table.html">Data Table</a></li>
                </ul>
            </li>

            <li class="navigation__sub @@formactive">
                <a href="default.htm"><i class="zmdi zmdi-collection-text"></i> فرم ها</a>

                <ul>
                    <li class="@@formelementactive"><a href="form-elements.html">فرم پایه</a></li>
                    <li class="@@formcomponentactive"><a href="form-components.html">کامپوننت های فرم</a></li>
                    <li class="@@formvalidationactive"><a href="form-validation.html">اعتبار سنجی فرم</a></li>
                </ul>
            </li>

            <li class="navigation__sub @@uiactive">
                <a href="default.htm"><i class="zmdi zmdi-swap-alt"></i> رابط کاربری</a>

                <ul>
                    <li class="@@colorsactive"><a href="colors.html">رنگ ها</a></li>
                    <li class="@@cssanimationsactive"><a href="css-animations.html">انیمیشن های سی اس اس</a></li>
                    <li class="@@buttonsactive"><a href="buttons.html">دکمه ها</a></li>
                    <li class="@@iconsactive"><a href="icons.html">آیکن ها</a></li>
                    <li class="@@listviewactive"><a href="listview.html">لیست ویو</a></li>
                    <li class="@@toolbarsactive"><a href="toolbars.html">تولبار</a></li>
                    <li class="@@cardsactive"><a href="cards.html">کاردها</a></li>
                    <li class="@@alertactive"><a href="alerts.html">هشدارها</a></li>
                    <li class="@@badgesactive"><a href="badges.html">بجت ها</a></li>

                    <li class="@@jumbotronactive"><a href="jumbotron.html">Jumbotron</a></li>
                    <li class="@@navsactive"><a href="navs.html">Navs</a></li>
                    <li class="@@paginationactive"><a href="pagination.html">صفحه بندی</a></li>
                    <li class="@@progressactive"><a href="progress.html">پراگرس بار</a></li>
                </ul>
            </li>

            <li class="navigation__sub @@componentsactive">
                <a href="default.htm"><i class="zmdi zmdi-group-work"></i> کامپوننت های جاوا اسکریپتی</a>

                <ul class="navigation__sub">
                    <li class="@@carouselactive"><a href="carousel.html">اسلایدر</a></li>
                    <li class="@@collapseactive"><a href="collapse.html">کلپس</a></li>
                    <li class="@@dropdownsactive"><a href="dropdowns.html">دراپ دان</a></li>
                    <li class="@@modalsactive"><a href="modals.html">مدال</a></li>
                    <li class="@@popoveractive"><a href="popover.html">پاپ آور</a></li>
                    <li class="@@tabsactive"><a href="tabs.html">تب</a></li>
                    <li class="@@tooltipsactive"><a href="tooltips.html">تولتیپ</a></li>
                    <li class="@@notificationsactive"><a href="notifications-alerts.html">نوتیفیکیشن و آلرت</a></li>

                </ul>
            </li>

            <li class="navigation__sub @@chartsactive">
                <a href="default.htm"><i class="zmdi zmdi-trending-up"></i> نمودار</a>

                <ul>
                    <li class="@@flotchartsactive"><a href="flot-charts.html">Flot</a></li>
                    <li class="@@otherchartsactive"><a href="other-charts.html">نمودار دیگر</a></li>
                </ul>
            </li>

            <li class="@@calendaractive"><a href="calendar.html"><i class="zmdi zmdi-calendar"></i> تقویم</a></li>

            <li class="@@photogalleryactive"><a href="photo-gallery.html"><i class="zmdi zmdi-image"></i> گالری تصاویر</a></li>

            <li class="navigation__sub navigation__sub--active navigation__sub--toggled">
                <a href="default.htm"><i class="zmdi zmdi-collection-item"></i> صفحات نمونه</a>

                <ul>
                    <li class="@@profileactive"><a href="profile-about.html">پروفایل</a></li>
                    <li class="@@messagesactive"><a href="messages.html">پیام ها</a></li>
                    <li class="@@contactsactive"><a href="contacts.html">ارتباط با ما</a></li>
                    <li class="@@newcontactsactive"><a href="new-contact.html">مخاطب جدید</a></li>
                    <li class="@@groupsactive"><a href="groups.html">گروه ها</a></li>
                    <li class="@@pricingtablesactive"><a href="pricing-tables.html">جداول قیمت</a></li>
                    <li class="@@invoiceactive"><a href="invoice.html">فاکتور</a></li>
                    <li class="@@todoactive"><a href="todo-lists.html">لیست وضایف</a></li>
                    <li class="@@notesactive"><a href="notes.html">یادداشت ها</a></li>
                    <li class="@@searchresultsactive"><a href="search-results.html">نتیجه جستجو</a></li>
                    <li class="@@issuesactive"><a href="issue-tracker.html">پیگیری خطاها</a></li>
                    <li class="@@faqactive"><a href="faq.html">سوالات متداول</a></li>
                    <li class="@@teamactive"><a href="team.html">تیم</a></li>
                    <li class="@@blogactive"><a href="blog.html">بلاگ</a></li>
                    <li class="@@blogdetailactive"><a href="blog-detail.html">جزییات بلاگ</a></li>
                    <li class="@@qaactive"><a href="questions-answers.html">پرسش و پاسخ</a></li>
                    <li class="@@qadetailactive"><a href="questions-answers-details.html">جزییات پرسش و پاسخ</a></li>
                    <li class="@@loginactive"><a href="login.html">ورود و ثبت نام</a></li>
                    <li class="@@lockscreenactive"><a href="lockscreen.html">لاک اسکرین</a></li>
                    <li class="@@lockscreenactive"><a href="404.html">404</a></li>
                    <li class="navigation__active"><a href="empty.html">صفحه خالی</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>